
.section-1{
    display: flex;
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
    align-items: flex-end;
    justify-content: center;
}
.grid-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box{
    display: flex;
    flex-direction: column;
    width: 20rem;
    overflow: hidden;
    padding: 1.25rem;
    background-color: white;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.13), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    gap: 1.25rem; 
    border-width: 2px;
    border-radius: 1.5rem;
    border-color: #ffffff;
    /* height: 18rem; */

    
}
.box a{
    font-size: 0.875rem; /* text-sm: 14px */
    padding: 0.75rem 1rem; /* p-3: 12px, px-8: 32px */
    border-radius: 0.5rem; /* rounded-lg: 8px */
    text-transform: uppercase; /* uppercase */
    font-weight: 500; /* font-medium */
    letter-spacing: 0.05em; /* tracking-wider */
    display: inline-block; /* inline-block */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    background-color: #000; /* bg-black */
    color: #fff; /* text-white */
    width: 130px;
}

.img-section{
    height: 10rem; /* 40 * 0.25rem */
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    border-radius: 0.8rem; 
}
.image{
    display: block;
    width: 100%;
    
}
.detail-section{
    display: flex;
    flex-direction: column;
    /* margin-top: 5px; */
    gap: 7px;
}